body {
    background-color: rgb(192, 193, 194);
}
#navy {
    background-color: rgb(2, 76, 82);
    /* color: black; */
}
#navy a {
    color:black;
    padding:10px;
}

#top {
    background-color: black;
}

#header>img {
    height:150px;

}

#sidebar {
    background-image:url('/static/images/blog.jpg');
    width: 350px;
}

#quotes {
    background-color: black;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
#quotes h1 {
    color:rgb(2, 76, 82);
    font-family: 'Ropa Sans', sans-serif;
}